<swiper-container  class="sliderContainer" >
    <swiper-slide><img src="/assets/slider1.jpg"></swiper-slide>
    <swiper-slide><img src="/assets/slider1.jpg"></swiper-slide>
    <swiper-slide><img src="/assets/slider1.jpg"></swiper-slide>
    <swiper-slide><img src="/assets/slider1.jpg"></swiper-slide>
    <swiper-slide><img src="/assets/slider1.jpg"></swiper-slide>
    <swiper-slide><img src="/assets/slider1.jpg"></swiper-slide>
    <swiper-slide><img src="/assets/slider1.jpg"></swiper-slide>
    <swiper-slide><img src="/assets/slider1.jpg"></swiper-slide>
    <swiper-slide><img src="/assets/slider1.jpg"></swiper-slide>
</swiper-container>