/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hardFont {
    font-family: "Varela Round", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  

a{
    text-decoration: none;
    color: inherit;
}

:root {
    --blue-one: #00174d;
    --blue-two: #05255e;
    --blue-three:#0a346f;
    --blue-four: #0f4280;
    --blue-five: #145091;
    --secondary-color:#EBE4E4;
}

.container {
    width: 100%;
    display: flex;
    position: relative;

}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    display: flex;
}

.isActive{
    display: flex !important;
    visibility: visible;
}

.noActive{
    display: none;
    visibility: hidden;
}


@media(max-width:1080px){
    .isDesktop{
        display: none;
    }
    .isMobile{
        display: flex;
    }
    .headerMenu{display: none;}
    .wrapper {
        padding: 0 20px;
    }
}


@media(min-width:1080px){
    app-login-form{width: 100%; max-width: 1200px; position: relative;}
    app-login-form::after{
        position: absolute;
        content: '';
        background: url("/assets/dog.svg") repeat;
        background-size: 60px;
        width: 100%;
        top: 0;
        height: 100%;
        opacity: 0.08;
        z-index: 1;
    
    }


    .isDesktop{
        display: flex;
    }
    .isMobile{
        display: none;
    }
    .wrapper {
        padding: 0 20px;
    }
}



